<!DOCTYPE html>
<html lang="ko">
<th:block th:replace="layout/fragments/header :: headerFragment">
</th:block>

<style>
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1030; /* 다른 콘텐츠 위에 위치하게 하기 위해 z-index 사용 */
    }
</style>

<div class="container mt-5">
    <h1>리뷰 리스트</h1>

    <!--  검색 기능  -->
    <div class="search-container">
            <form th:action="@{/review/searchId}" method="get" class="input-group">
                <input type="text" name="search" class="form-control" placeholder="판매자ID 검색" required>
                <button type="submit" class="btn btn-outline-secondary">검색</button>
            </form>

    </div>

    <div th:if="${message}" th:text="${message}"></div>

    <div id="reviewList" class="mt-3">
        <ul class="list-group">
            <!-- 등록된 리뷰 항목이 동적으로 추가됩니다. -->
            <th:block th:each="review : ${list}">
                <li class="list-group-item">
<!--                    <h5 th:text="'판매자 : ' + ${review.sellerId}">판매자: </h5>-->
                    <h5>
                        <a th:href="@{/review/seller/{sellerId}(sellerId=${review.sellerId})}" th:text="'판매자 : ' + ${review.sellerId}">판매자</a>
                    </h5>
                    <strong th:text="'구매자 : ' + ${review.buyerId}"></strong>
                    <span th:text="${review.comment}">리뷰 내용</span>
                    <div>
                        <span th:each="i : ${#numbers.sequence(1, review.rating)}" class="text-warning">★</span>
                    </div>
                    <form th:action="@{/review/remove(no=${review.reviewNo})}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                    </form>
                </li>
            </th:block>
        </ul>
    </div>
    <!-- 등록하기 버튼 -->
    <div class="add-review-btn">
        <a th:href="@{/review/register}" class="btn btn-primary">등록하기</a>
    </div>
</div>
<!-- Footer-->
<th:block th:replace="layout/fragments/footer :: footerFragment">
</th:block>
</html>
