<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>관심목록</title>
    <link rel="stylesheet" href="css/likeListStyle.css">
</head>
<body>

    <h1>관심목록</h1>

    <div class="filter-buttons">
        <button>전체</button>
        <button>중고거래</button>
        <button>동네홍보</button>
        <button>부동산</button>
        <button>알바</button>
    </div>

    <div class="product-list">

        <div class="product-item">
            <img src="assets/item/joohwan.jpg" alt="탕진핑">
            <div class="product-info">

                <div class="div-temp1">
                    <h2>프리미엄 주환이1</h2>
                    <p>구월동, 길거리 상품</p>
                    <span class="product-price">5,000원</span>
                </div>

                <div class="div-temp2">
                    <button class="like-button">
                        <img src="assets/icon/heart.gif" alt="찜하기">
                    </button>
                </div>

            </div>
        </div>

        <div class="product-item">
            <img src="assets/item/joohwan.jpg" alt="함께 일할 직원 모집">
            <div class="product-info">

                <div class="div-temp1">
                    <h2>꿀알바2</h2>
                    <p>구월동, 알바</p>
                    <span class="product-price">월급 3000만원</span>
                </div>

                <div class="div-temp2">
                    <button class="like-button">
                        <img src="assets/icon/brokenHeart.gif" alt="찜하기">
                    </button>
                </div>

            </div>
        </div>

        <div class="product-item">
            <img src="assets/item/joohwan.jpg" alt="탕진핑">
            <div class="product-info">

                <div class="div-temp1">
                    <h2>세미 주환이3</h2>
                    <p>만수동, 길거리 상품</p>
                    <span class="product-price">100원</span>
                </div>

                <div class="div-temp2">
                    <button class="like-button">
                        <img src="assets/icon/heart.gif" alt="찜하기">
                    </button>
                </div>

            </div>
        </div>

        <div class="product-item">
            <img src="assets/item/joohwan.jpg" alt="함께 일할 직원 모집">
            <div class="product-info">

                <div class="div-temp1">
                    <h2>돈많이 줄께4</h2>
                    <p>논현동, 알바</p>
                    <span class="product-price">월급 7000만원</span>
                </div>

                <div class="div-temp2">
                    <button class="like-button">
                        <img src="assets/icon/heart.gif" alt="찜하기">
                    </button>
                </div>

            </div>
        </div>

        <div class="product-item">
            <img src="assets/item/joohwan.jpg" alt="함께 일할 직원 모집">
            <div class="product-info">
                <div class="div-temp1">
                    <h2>단기 대타구합니다5</h2>
                    <p>간석동, 알바</p>
                    <span class="product-price">월급 1000만원</span>
                </div>

                <div class="div-temp2">
                    <button class="like-button">
                        <img src="assets/icon/heart.gif" alt="찜하기">
                    </button>
                </div>

            </div>
        </div>

        <div class="product-item">
            <img src="assets/item/joohwan.jpg" alt="함께 일할 직원 모집">
            <div class="product-info">
                <div class="div-temp1">
                    <h2>가족같은 노예구해요6</h2>
                    <p>만수동, 알바</p>
                    <span class="product-price">월급 700원</span>
                </div>

                <div class="div-temp2">
                    <button class="like-button">
                        <img src="assets/icon/heart.gif" alt="찜하기">
                    </button>
                </div>

            </div>
        </div>

    </div>


</body>
</html>