<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/fragments/header :: headerFragment}"></th:block>
<body class="bg-light">
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h2 class="text-center">로그인</h2>

            <!-- 오류 메시지 표시 -->
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert" style="text-align: center !important">
                <p th:text="${errorMessage}"></p>
            </div>

            <form action="/member/login" method="post" class="border p-4 bg-white shadow-sm">
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id" placeholder="ID" required>
                </div>
                <div class="form-group">
                    <label>비밀번호</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">로그인</button>
            </form>
            <div class="text-center mt-3">
                <a href="/member/register">회원가입</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<th:block th:replace="~{layout/fragments/footer :: footerFragment}"></th:block>

</html>
