<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/fragments/header :: headerFragment}"></th:block>
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<body class="bg-light">
<div class="container mt-5">
  <h2 class="text-center">마이페이지</h2>

  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">회원 정보</h5>
      <p class="card-text">아이디: <span th:text="${member.id}"></span></p>
      <p class="card-text">이름: <span th:text="${member.name}"></span></p>
      <p class="card-text">이메일: <span th:text="${member.email}"></span></p>
      <p class="card-text">전화번호: <span th:text="${member.phone}"></span></p>
      <p class="card-text">평점: <span th:text="${member.score}"></span></p>
    </div>
  </div>

    <form action="/member/remove" method="post" onsubmit="return confirm('정말로 회원 탈퇴하시겠습니까?');">
      <input type="hidden" name="id" th:value="${member.id}" />
      <button type="submit" class="btn btn-danger">회원 탈퇴</button>
    </form>
      <br>

    <form>
      <a class="btn btn-primary" href="/products">Home</a>
    </form>

  <form>
    <a th:href="@{/member/modify(id=${member.id})}" class="btn btn-secondary">수정</a>
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<th:block th:replace="~{layout/fragments/footer :: footerFragment}"></th:block>

</html>
