<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Home</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5 text-center">
  <h1 class="mb-4">회원 기능</h1>
  <div class="d-flex justify-content-center">
    <a href="/member/register" class="btn btn-primary btn-lg mr-3">회원가입</a>
    <a href="/member/list" class="btn btn-secondary btn-lg">회원 목록</a>
    <a href="/member/login" class="btn btn-secondary btn-lg">로그인</a>
    <a href="/member/myPage" class="btn btn-secondary btn-lg">마이페이지</a>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
